SERVICE_NAME='schedule-service'

PORT=3002

DB_HOST=''
DB_PORT=''
DB_NAME=''
DB_USERNAME=''
DB_PASSWORD=''
DB_DRIVER=''

JWT_SECRET=''
JWT_EXPIRED=''

REDIS_HOST=''
REDIS_PORT=''
REDIS_PASSWORD=''
# REDIS_DB=0